// COLORS:
$blue: #149CC0;
$dark-blue: #005CA2;
$dark-yellow: #F1A400;
$green: #69B92D;
$dark-green: #4b9811;
$red:#A92924;
$grey: #707070;
$light-grey: #DBDBDB;
$dark-grey: #232323;
$brown: #a94200;

//BORDERS:
$border-light-grey: solid 2px $light-grey;
$border-grey: solid 2px $grey;

// FONTS:
$h1: bold 22px Open Sans, sans-serif;
$h2: bold 18px Open Sans, sans-serif;
$h3: normal 18px Open Sans, sans-serif;
$h4: 700 14px Open Sans, sans-serif;
$h5: 400 12px Open Sans, sans-serif;
$h6: 700 10px Open Sans, sans-serif;

// BG COLOR CLASS:
.bg-blue {
    background-color: $blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-yellow {
    background-color: $dark-yellow;
}

.bg-green {
    background-color: $green;
}

.bg-dark-green {
    background-color: $dark-green;
}

.bg-red {
    background-color: $red;
}

.bg-grey {
    background-color: $grey;
}

.bg-brown {
    background-color: $brown;
}

// CONSTANTS
$fullheight: calc(var(--vh, 1vh) * 100);

